/* Colori di base */
:root {
    --primary-bg: #121212;
    --secondary-bg: #1e1e1e;
    --primary-text: #ffffff;
    --secondary-text: #b0b0b0;
    --accent-color: #ff5722;
    --accent-hover: #e64a19;
    --border-color: #444444;
    --modal-bg: #2c2c2c;
}

/* Stili generali del corpo */
body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenitori principali */
.container {
    margin: 25px;
    padding: 20px;
    background-color: var(--secondary-bg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
}

footer{
    padding: 1.5px !important;
}

.nav{
    border-radius: 10px;
    margin-inline: 25px;
    max-width: 87%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    animation: fadeIn 1s ease-in-out;
}

/* Titoli */
h1, h2, h3 {
    color: var(--primary-text);
    margin-bottom: 20px;
}

/* Paragrafi */
p {
    color: var(--secondary-text);
    line-height: 1.6;
}

/* Pulsanti */
.button {
    background-color: var(--accent-color);
    color: var(--primary-text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    display: inline-block;
}

.button.ex {
    font-size: smaller;
    padding-block: 6px;
    position: absolute;
    right: 40px;
}

li.ex {
    margin-top: 20px;
    list-style-type: none;
    margin-left: -40px;
}

li.ex::before {
    content: "- ";
}

.button:hover {
    background-color: var(--accent-hover);
    transform: scale(1.05);
}

/* Input e Textarea */
input, textarea {
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

input::placeholder, textarea::placeholder {
    color: var(--secondary-text);
}

input:focus, textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

/* Link */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-hover);
}

/* Stili per le checkbox personalizzate */
.styled-checkboxes label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
}

.styled-checkboxes input[type="checkbox"] {
    font-size: smaller;
    padding-block: 6px;
    position: absolute;
    right: 50px;
    width:18px;
    margin-bottom: -2px;
}

.check-ex {
    position: absolute;
    right: 0;
    width: 100px;
}

@media screen and (max-width: 500px) {
    .check-ex {
        right: 5%;
    }
}

/* Stili per il modal */
.modal {
    display: none; /* Nasconde il modal di default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
    background-color: var(--modal-bg);
    margin: 10% 5%;
    padding: 20px;
    border-radius: 10px;
    width: 79%;
    max-width: 500px;
    animation: slideDown 0.5s ease-in-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

/* Stili per il select personalizzato */
.styled-select {
    border: 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--accent-color);
    color: var(--primary-text);
    margin-bottom: 20px;
}

.styled-select option {
    background-color: #fff;
    color: #000;
}

.trio{
    display: flex;
    gap: 5%; 
    margin-top: -20px;
    width: 100%;
}
.trio .button{
    width: 30% !important;
}
.icon{
    width: 98%;
}

/* Stili per i pulsanti con icona */
i.button {
    margin-top: -2.5px;
}

/* Animazioni */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); }
    to { transform: translateY(0); }
}