/* Colori di base */
:root {
    --primary-bg: #1a1a1a;
    --secondary-bg: #2c2c2c;
    --primary-text: #ffffff;
    --secondary-text: #b0b0b0;
    --accent-color: #ff5722;
    --accent-hover: #e64a19;
    --border-color: #444444;
}

/* Stili generali del corpo */
body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenitori principali */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-bg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Titoli */
h1, h2, h3 {
    color: var(--primary-text);
    margin-bottom: 20px;
}

/* Paragrafi */
p {
    color: var(--secondary-text);
    line-height: 1.6;
}

/* Pulsanti */
.button {
    background-color: var(--accent-color);
    color: var(--primary-text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button:hover {
    background-color: var(--accent-hover);
}

/* Input e Textarea */
input, textarea {
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 20px;
}

input::placeholder, textarea::placeholder {
    color: var(--secondary-text);
}

/* Link */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-hover);
}

/* Stili per le checkbox personalizzate */
.styled-checkboxes label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
}
.styled-checkboxes input[type="checkbox"]{
    position: absolute;
    margin-top: 22px;
}


/* Stili per il modal */
.modal {
    display: none; /* Nasconde il modal di default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

i.button{
    margin-top: -2.5px;
}

.modal-content {
    background-color: #2c2c2c;
    margin: 15% auto;
    padding: 20px;
    border-radius: 25px;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Stili per il select personalizzato */
.styled-select {
    border: 0;
    padding: 6px;
    border-radius: 5px;
    width: auto;
    max-width: 200px;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
}

.styled-select option {
    background-color: #fff;
    color: #000;
}

/* Stili per i pulsanti con icona */
.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Stili per l'icona del cestino */
.fa-trash {
    font-size: 1rem;
    vertical-align: middle;
}

/* Stili per gli alert */
.alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
}